.search-results {
  grid-area: Tracklist;
  justify-self: flex-end;
  height: 100%;
}

.search-results h2 {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 400;
  color: #ecf2ff;
  padding: 16px;
  margin: 0;
  border-bottom: 4px solid #655dbb;
}

@media (max-width: 640px) {
  .search-results {
    justify-self: center;
  }

  .search-results h2 {
    text-align: center;
    padding: 8px;
  }
}
