@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.loading-spinner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 10px solid #655dbb;
  border-top-color: #ecf2ff;
  animation: spin 1s infinite linear;
}
