@keyframes pop {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.track-notification {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;

  animation-duration: 0.4s;
  animation-name: pop;
}

.track-notification.success p {
  color: #1db954;
}

.track-notification.error p {
  color: #ff0000;
}
