.playlist-generator {
  height: 100%;
  display: grid;
  box-sizing: border-box;
  padding-bottom: 16px;
  min-width: 500px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 12rem 1fr;
  grid-template-areas:
    "SearchArea SearchArea"
    "Tracklist Playlist";
  grid-gap: 64px;
  flex: 1;
}

.result-block {
  max-width: 500px;
  padding: 16px;
  border-radius: 8px;
  background-color: rgba(24, 23, 46, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
}
