.search-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  grid-area: SearchArea;
}

.search-area .btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 12rem;
  max-width: 500px;
}

input.search-bar {
  width: 100%;
  max-width: 500px;
  margin: 20px 0;
  padding: 14px 20px;
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  /* set transparent outline for highlight animation */
  outline: 2px solid transparent;
}

input.search-bar.highlight-input {
  outline: 2px solid rgba(255, 0, 0, 0.8);
  transition: outline 0.5s ease;
}

.search-area button {
  min-width: 15rem;
  margin: 20px 0;
  padding: 14px 40px;
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #655dbb;
  color: #ecf2ff;
  cursor: pointer;

  transition: background-color 0.2s ease;
}

.search-area button:hover {
  background-color: #4b428b;
}

.search-area button:active {
  background-color: #4b428b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.search-area button:disabled {
  background-color: #131124;
  color: #b5b9c3;
  box-shadow: none;
  opacity: 0.5;
  cursor: not-allowed;
}
