.Tracklist {
  grid-area: Tracklist;
  justify-self: right;
  width: 500px;
}

.Tracklist h2 {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 400;
  color: #ecf2ff;
  padding: 16px;
  margin: 0;
  border-bottom: 4px solid #655dbb;
}
