.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #655dbb;

  transition: border 0.4s ease;
}

.track:last-child {
  border-bottom: none;
}

.track-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  color: white;
}

.track-info p {
  font-weight: 500;
  margin: 0.2rem;
}

.track-info p.subtext {
  font-size: 0.8rem;
  /* darker gray */
  color: #707070;
}

.track button {
  margin: 0.5rem;
  border: none;
  font-size: 1.3rem;
  background-color: transparent;
  color: #ecf2ff;
  cursor: pointer;

  transition: all 0.4s ease;
}

.track button:not(.preview-track-btn) {
  outline: 1px solid rgba(101, 93, 187, 0);
  outline-style: inset;
}

.track button:not(.preview-track-btn):hover {
  outline: 1px solid rgba(101, 93, 187, 1);
}

.track button:hover {
  color: #655dbb;
  scale: 1.1;
}

.track button.preview-track-btn:hover {
  color: #1db954;
}

.track button.preview-track-btn:active {
  color: #1db954aa;
}

@media (max-width: 640px) {
  .track-info {
    padding: 0.5rem;
  }
}
