.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #655dbb;

  transition: border 0.4s ease;
}

.track:last-child {
  border-bottom: none;
}

.track-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  color: white;
}

.track button {
  margin: 0.5rem;
  border: none;
  font-size: 1.3rem;
  background-color: transparent;
  color: #ecf2ff;
  cursor: pointer;
}

.track button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #655dbb;

  transition: all 0.4s ease;
}

.track button.preview-track-btn:hover {
  color: #1db954;
  background-color: transparent;
}

.track p {
  font-weight: 500;
  margin: 0.2rem;
}

.track p.subtext {
  font-size: 0.8rem;
  /* darker gray */
  color: #707070;
}
