.playlist-generator {
  height: 100%;
  display: grid;
  box-sizing: border-box;
  padding: 0 8px;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "SearchArea SearchArea"
    "Tracklist Playlist"
    "TrackPreview TrackPreview";
  grid-gap: 30px;
  flex: 1;
}

.result-block {
  max-width: 500px;
  padding: 16px;
  border-radius: 8px;
  background-color: rgba(24, 23, 46, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

@media (max-width: 640px) {
  .playlist-generator {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
      "SearchArea"
      "Tracklist"
      "Playlist"
      "TrackPreview";
    padding: 0;
  }

  .result-block {
    width: 90%;
    max-width: 90%;
    min-height: 200px;
    max-height: 300px;
    justify-self: center;
    padding: 8px;
  }
}
