.playlist {
  grid-area: Playlist;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

input.playlist-name {
  margin: 0;
  padding: 16px 20px;
  background-color: rgba(24, 23, 46, 0.9);
  color: #ecf2ff;
  border: none;
  border-radius: 25px;
  font-size: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  /* set transparent outline for highlight animation */
  outline: 2px solid transparent;
}

.playlist .btn-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  /* ensures big enough to fire mouseLeave event */
  width: auto;
  padding: 10px 0;
  padding-inline: 0.4rem;
}

input.highlight-input {
  outline: 2px solid rgba(255, 0, 0, 0.5);
  outline-offset: 2px;
  transition: outline 0.5s ease;
}

button.save-playlist-btn {
  padding: 14px 40px;
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #655dbb;
  color: #ecf2ff;
  cursor: pointer;

  transition: background-color 0.2s ease;
}

button.save-playlist-btn:hover {
  background-color: #4b428b;
}

button.save-playlist-btn:active {
  background-color: #4b428b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

button.hide-btn {
  display: none;
}

button.save-playlist-btn:disabled {
  background-color: #655dbb;
  color: #b5b9c3;
  box-shadow: none;
  opacity: 0.5;
  cursor: not-allowed;
}
