.track-preview {
  position: absolute;
  top: 10rem;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #655dbb;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;

  transition: border 0.4s ease;
}

.track-preview button {
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #ecf2ff;

  transition: all 0.2s ease;
}

.track-preview .close-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.track-preview .close-btn:hover {
  color: #ff0000;
  scale: 1.1;
}

.track-preview .close-btn:active {
  color: #ff0000aa;
}
