.track-preview {
  grid-area: TrackPreview;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "img info"
    "img audio-player";
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;

  transition: border 0.4s ease;
}

.track-preview img {
  grid-area: img;

  height: 100%;
  width: auto;
  align-self: center;
  margin: 0.5rem;
  padding: 0.2rem;
}

.track-preview .track-info {
  grid-area: info;

  margin-left: 2rem;
  margin-right: 1rem;
  padding: 0;

  align-items: flex-start;
  text-align: left;
  gap: 0;
}

.track-preview button {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #ecf2ff;

  transition: all 0.2s ease;
}

.track-preview .close-btn {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.track-preview .close-btn:hover {
  color: #ff0000;
  scale: 1.1;
}

.track-preview .close-btn:active {
  color: #ff0000aa;
}
