*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  background: linear-gradient(rgba(191, 172, 226, 0.5), rgba(0, 0, 0, 0.7)),
    url("./img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4.5rem;
  height: 10vh;
  color: #ecf2ff;
  padding: 1px 50px;
  background-color: #18172e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header span {
  color: #655dbb;
}

header h1 {
  font-size: 2.5rem;
}

header img {
  height: 30px;
  position: absolute;
  left: 1rem;
  top: 1rem;
}

main {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  height: 90vh;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #18172e;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #655dbb;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: whitesmoke;
}
